.favorites-articles-page{
    display: flex;
    
}
.back-button{
    margin-top: 5px;
    margin-left: 5px;
}
.favorites-articles-list{
    margin-top: 10px;
    margin-left: 30px;
    width: 100%;
}
.example-card{
    margin: 10px 0;
}
.header{
    display: flex;
    flex-direction: column;
}
.filter{
    display: flex;
}
.filter-form{
    display: flex;
}
.filter-button{
    height: 50px;
}
.clean-button{
    margin-left: 10px;
}
.input-filter{
    margin-right: 10px;
}
.article-title{
    cursor: pointer;
}
.article-title:hover{
    color: blue;
}
.article-content{
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dumb{
    margin: 10px;
}
.filter-articles{
    display:flex;
}

.new-article-button{
    height: 50px;
}
.icon{
    margin-right: 5px;
}
.notFound{
    font-family: inherit;
    font-style: italic;
    font-size: 17px;
}