.example-card{
    margin: 10px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter{
    display: flex;
}
.filter-form{
    display: flex;
}
.filter-button{
    height: 50px;
}
.clean-button{
    margin-left: 10px;
}
.input-filter{
    margin-right: 10px;
}
.article-title{
    cursor: pointer;
}
.article-title:hover{
    color: blue;
}
.article-content{
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dumb{
    margin: 10px;
}
.filter-articles{
    display:flex;
}

.new-article-button{
    height: 50px;
}
.category{
    float: right;
    display: flex;
    flex-direction: column; 
}
.label-category{
    font-size: 12px;
}
.content-category{
    cursor: auto;
}
.icon{
    margin-right: 5px;
    
}