<div class="dumb">
    <div class="header">
        <h1>Demo Blog Page</h1>
    </div>
    <h2>List of Articles</h2>
    <div class="filter" *ngIf="filterForm">
        <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="onFilterClicked()" >
  
            <mat-form-field class="input-filter" appearance="fill">
                <mat-label>Search for title</mat-label>
                <input matInput placeholder="Input a title for search..." formControlName="searchTitle" (input)="inputValidator($event)">
              </mat-form-field>
              
              <mat-form-field class="input-filter" appearance="fill">
                <mat-label>Authors</mat-label>
                <mat-select formControlName="searchAuthors" multiple>
                  <mat-option *ngFor="let author of users" [value]="author.id">{{author.username}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="input-filter" appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{category}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
    
    
              <mat-form-field class="input-filter" appearance="fill">
                <mat-label>Choose a date min</mat-label>
                <input readonly formControlName="minDate" matInput [matDatepicker]="pickerMin">
                <mat-datepicker-toggle matSuffix [for]="pickerMin"></mat-datepicker-toggle>
                <mat-datepicker #pickerMin></mat-datepicker>
              </mat-form-field>
    
              <mat-form-field class="input-filter" appearance="fill">
                <mat-label>Choose a date max</mat-label>
                <input readonly formControlName="maxDate" matInput [matDatepicker]="pickerMax">
                <mat-datepicker-toggle matSuffix [for]="pickerMax"></mat-datepicker-toggle>
                <mat-datepicker #pickerMax></mat-datepicker>
              </mat-form-field>
    
              <button class="filter-button" type="submit" mat-raised-button color="primary"><mat-icon class="icon">sort</mat-icon>Filter</button>
              
        </form>
    
        <button *ngIf="filterForm.dirty" (click)="cleanFilter()" class="clean-button" mat-mini-fab color="warn" 
        aria-label="Example icon button with a filter list icon">
            <mat-icon>clear</mat-icon>
        </button>
            

    </div>
   
    <button class="new-article-button" mat-raised-button color="primary" (click)="createArticle()">
        <mat-icon class="icon">add</mat-icon>Create new article
    </button>
    

    <ng-container *ngFor="let article of articles">
        <mat-card class="example-card">
            <mat-card-title>
                <span class="article-title" (click)="visitArticle(article.id)">{{article.title}}</span>
                <button mat-icon-button color="warn" (click)="onUnmarkFavoriteClicked(article.id)"  *ngIf="favoritesArticles && isFavorite(article.id)" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onMarkFavoriteClicked(article.id)" *ngIf="favoritesArticles && !isFavorite(article.id)" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <div class="category">
                    <span class="label-category">Category:</span>
                    <button class="content-category" mat-stroked-button color="primary">{{article.category}}</button>
                </div>
                
            </mat-card-title>
            <mat-card-subtitle>Created by {{article.user?.username}} on {{article.date | date}}</mat-card-subtitle>
            <mat-card-content class="article-content">
                <p>{{article.content}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button class="learn-button" mat-raised-button (click)="visitArticle(article.id)">Learn more...</button>
                <button mat-raised-button color="warn" *ngIf="article.user?.id === currentUser?.id" (click)="onDeleteArticleClicked(article.id)"><mat-icon class="icon">delete</mat-icon>Delete article</button>
                <button mat-raised-button color="primary" *ngIf="article.user?.id === currentUser?.id" (click)="onEditArticleClicked(article.id)"><mat-icon class="icon">edit</mat-icon>Edit article</button>
            
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>