.example-card{
    margin: 10px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-title{
    cursor: pointer;
}
.article-title:hover{
    color: blue;
}
.article-content{
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dumb{
    margin: 10px;
}
.filter-articles{
    display:flex;
}

.new-article-button{
    margin-left: 50px;
    height: 50px;
}