<div class="article-body" *ngIf="article">
    <h1>{{ article.title }}</h1>
    <div class="subtitle">
        <span>Autor: {{article.user?.username}}</span> <span class="date">Creation Date: {{article.date | date}}</span>
    </div>
    <p class="content">
        {{article.content}}
    </p>

    <button mat-raised-button color="warn" *ngIf="article.user?.id === currentUser?.id" (click)="onDeleteArticleClicked(article.id)">Delete article</button>
</div>

<its-view-comment></its-view-comment>

<its-create-comment></its-create-comment>
