.article-body{
    margin: 10px 70px;
}
.header{
    display: flex;
    justify-content: space-between;
}

.subtitle{
    display: flex;
    font-style: italic;
    margin-top: -15px;
    margin-left: 1px;
    margin-bottom: 15px;
}
    .date{
        margin-left: 10px;
    }
    .content{
        font-size: 17px;
    }
.category{
        float: right;
        display: flex;
        flex-direction: column; 
    }
    .label-category{
        font-size: 12px;
    }
    .content-category{
        cursor: auto;
    }