<div class="create-article">
    <h1>Create a new Article for blog</h1>
  
  <form class="example-form" [formGroup]="articleForm" (ngSubmit)="onSubmitClicked()" >
  
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Article title</mat-label>
          <input matInput placeholder="Input a new title" formControlName="title">
          <mat-error *ngIf="articleForm.controls['title'].invalid && articleForm.controls['title'].dirty">
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="articleForm.controls['content'].invalid && articleForm.controls['content'].dirty">
            Content is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Article content</mat-label>
            <textarea matInput class="text" placeholder="Input a new content" formControlName="content"></textarea>
            <mat-error *ngIf="articleForm.controls['content'].invalid && articleForm.controls['content'].dirty">
              Content is <strong>required</strong>
            </mat-error>
          </mat-form-field>
      
      
      <button id="sumbitButton" *ngIf="!articleCreating" type="submit" (click)="articleClick()"
       mat-raised-button color="primary" [disabled]="articleForm.invalid">Create</button>
      <button id="saveButton"   type="submit" (click)="draftArticleClick()"
       mat-raised-button color="primary" [disabled]="articleForm.invalid">Save draft</button>
  
  </form>
  
  </div>