.create-article-page{
  display: flex;
}
  .back-button{
    margin-top: 5px;
    margin-left: 5px;
  }
.create-article{
    margin: 10px;
    margin-left: 30px;
  }
  .example-form {
      min-width: 150px;
      max-width: 500px;
      min-height: 200px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
  
    .text{
      height: 300px;
    }
  
  